# ENV
DEV=

# Secrets
AUTH_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STARTER_PAYMENT_LINK=
STRIPE_PRO_PAYMENT_LINK=
STRIPE_UNLIMITED_PAYMENT_LINK=

# PostgreSQL
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=

# Nodemailer
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_FROM=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Links
NEXT_PUBLIC_BACKEND_GOOGLE_URL=